<div class="overflow-hidden content-space-b-2 content-space-b-lg-3">
  <!-- Heading -->
  <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
    <h2 class="display-4">Customers have consistently rated us 4.7/5 stars</h2>
     </div>
  <!-- End Heading -->

  <div class="container" id="container-Parallax">
    <div class="row justify-content-center align-items-md-center mb-7">
      <div class="col-11 col-md-6 col-lg-4 mb-5 mb-md-0 me-md-n9">
        <!-- Card -->
        <div class="card slide-testimonial" style="z-index: 100">
          <div class="card-body">
            <span class="svg-icon text-primary mb-3">
              <!-- SVG Icon -->
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5001 5.84998C9.0001 7.64998 5.4001 12.15 5.4001 16.2C5.4001 17.1 5.4001 18 5.8501 18.45C6.7501 17.55 8.1001 17.1 9.9001 17.1C13.5001 17.1 16.6501 19.8 16.6501 23.85C16.6501 27.9 13.5001 30.6 9.9001 30.6C6.3001 31.05 4.5001 29.7 3.1501 27.45C1.8001 25.2 1.3501 22.05 1.3501 20.25C1.3501 13.05 4.9501 7.19998 12.6001 3.59998L13.5001 5.84998ZM31.9501 5.84998C27.4501 7.64998 23.8501 12.15 23.8501 16.2C23.8501 17.1 23.8501 18 24.3001 18.45C25.2001 17.55 26.5501 17.1 28.3501 17.1C31.9501 17.1 35.1001 19.8 35.1001 23.85C35.1001 27.9 31.9501 30.6 28.3501 30.6C25.2001 30.6 23.4001 29.25 22.0501 27C19.8001 25.2 19.8001 22.05 19.8001 20.25C19.8001 13.05 23.4001 7.19998 31.0501 3.59998L31.9501 5.84998Z" fill="#377dff"/>
              </svg>
            </span>

            <!-- Blockquote -->
            <figure>
              <blockquote class="blockquote blockquote-sm blockquote-left-border lead">
                "{{ currentTestimonial.quote }}"
              </blockquote>
              <div class="d-flex gap-1 mb-2">
                <img src="./assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="./assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="./assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="./assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                <img src="./assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              </div>
              <figcaption class=" ">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img style="width: 50px; height: 60px" class="avatar avatar-circle" [src]="currentTestimonial.avatar" alt="Avatar">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    {{ currentTestimonial.name }}
                    <span class="blockquote-footer-source">{{ currentTestimonial.role }}</span>
                  </div>
                </div>
              </figcaption>
            </figure>

          </div>
        </div>
        <!-- End Card -->
      </div>

      <div class="col-md-6 mt-n9 mt-md-0">
        <img class="img-fluid-testimonial img-fluid" [src]="currentTestimonial.image" style="object-fit: cover; height: 38rem; width:32rem" alt="Image">
      </div>
    </div>

    <div class="text-center">
      <h3>Other people are saying similar things</h3>
      <div class="d-flex justify-content-center align-items-center gap-1 mb-4">
        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16" *ngFor="let s of [1,2,3,4,5]">
        <h4 class="ms-2 mb-0">4.85 / 5.0 <span class="text-body small">(2,594)</span></h4>
      </div>
    </div>
  </div>
</div>
