<div class="container">
<h1 class="h2 pb-1 pb-sm-2 pb-md-3">Settings</h1>

<!-- Nav tabs -->
<div class="overflow-auto mb-3">
  <ul class="nav nav-pills flex-nowrap gap-2 text-nowrap pb-3" role="tablist">
    <li class="nav-item" role="presentation">
      <button type="button"
              class="nav-link"
              [class.active]="activeTab === 'profile'"
              (click)="setActiveTab('profile')">
        Profile
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button type="button"
              class="nav-link"
              [class.active]="activeTab === 'security'"
              (click)="setActiveTab('security')">
        Security
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button type="button"
              class="nav-link"
              [class.active]="activeTab === 'payment'"
              (click)="setActiveTab('payment')">
        Payment methods
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button type="button"
              class="nav-link"
              [class.active]="activeTab === 'notifications'"
              (click)="setActiveTab('notifications')">
        Notifications
      </button>
    </li>
  </ul>
</div>

<!-- Tabs content -->
<div class="tab-content">

  <!-- Profile tab -->
  <div class="tab-pane fade"
       [class.show]="activeTab === 'profile'"
       [class.active]="activeTab === 'profile'">

    <lh-profile></lh-profile>
  </div>

  <!-- Security tab -->
  <div class="tab-pane fade"
       [class.show]="activeTab === 'security'"
       [class.active]="activeTab === 'security'">


    <lh-security></lh-security>
  </div>

  <!-- Payment methods tab -->
  <div class="tab-pane fade"
       [class.show]="activeTab === 'payment'"
       [class.active]="activeTab === 'payment'">
    <lh-payment-method></lh-payment-method>
  </div>

  <!-- Notifications tab -->
  <div class="tab-pane fade"
       [class.show]="activeTab === 'notifications'"
       [class.active]="activeTab === 'notifications'">

    <lh-notifications></lh-notifications>
  </div>
</div>
</div>
