.period-select-wrapper {
  .form-select {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrow {
    font-size: 0.8rem;
    transition: transform 0.2s ease;
  }
  .arrow.open {
    transform: rotate(180deg);
  }

  .choices__list--dropdown {
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
    margin-top: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .choices__item {
    padding: 8px 12px;
  }

  .choices__item:hover {
    background: #f5f5f5;
  }

  .is-selected {
    font-weight: bold;
    color: #377dff;
  }
}
