<div class="d-lg-flex align-items-md-center">
  <div class="flex-shrink-0">
    <img src="chatIcons/wifi.gif" style="width:40px; height:35px">
  </div>

  <div class="flex-grow-1 ms-lg-3">
    <span class="d-block fs-6">Network Connection</span>
    <div class="d--flex align-items-center">
      <h3 class="mb-0" *ngIf="isOnline(); else offlineTemplate">Online</h3>
    </div>
    <ng-template #offlineTemplate>
      <div class="d--flex align-items-center">
        <h3 class="mb-0" >Offline</h3>
      </div>
    </ng-template>

  </div>
</div>
