<app-header-poly></app-header-poly>
<div class="content-space-2">
  <div class="profile-cover">
    <div class="profile-cover-img-wrapper">
      <img class="profile-cover-img" [src]="image" alt="Cover Image">
    </div>
  </div>

  <div class="text-center mb-5">
    <div class="avatar avatar-xxl avatar-circle profile-cover-avatar">
      <img class="avatar-img" [src]="profileImage" alt="Profile Image">
      <span class="avatar-status avatar-status-success"></span>
    </div>

    <h1 class="page-header-title">
      {{header}}
      <i class="bi-patch-check-fill fs-2 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Top endorsed"></i>
    </h1>

    <button class="btn btn-success" [routerLink]="btnRoute">Inbox</button>
  </div>

  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3">
      <div class="navbar-expand-lg navbar-vertical mb-3 mb-lg-5">
        <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
          <ul class="js-sticky-block js-scrollspy card card-navbar-nav nav nav-tabs nav-lg nav-vertical">
            <li class="nav-item card-link custom-hover">
              <a class="nav-link" (click)="showStep('basics')"><i class="bi-person nav-icon"></i> Basic information</a>
            </li>

            <hr class="my-3" style="border: 3px solid whitesmoke">
            <li class="nav-item card-link custom-hover">
              <a class="nav-link" (click)="showStep('password')"><i class="bi-at nav-icon"></i> Password</a>
            </li>
            <hr class="my-3" style="border: 3px solid whitesmoke">
            <li class="nav-item card-link custom-hover">
              <a class="nav-link" (click)="showStep('logs')"><i class="bi-key nav-icon"></i> Logs</a>
            </li>
            <hr class="my-3" style="border: 3px solid whitesmoke">
            <li class="nav-item card-link custom-hover">
              <a class="nav-link" (click)="showStep('deleteAccount')"><i class="bi-gear nav-icon"></i> Delete Account</a>
            </li>
            <hr class="my-3" style="border: 3px solid whitesmoke">
            <li class="nav-item card-link custom-hover">
              <a class="nav-link" (click)="showStep('activities')"><i class="bi-shield-lock nav-icon"></i> Activities</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="col-lg-9">
      <div class="d-grid gap-3 gap-lg-5">
        <div *ngIf="activeStep === 'basics'">
          <app-basic [formData]="formData"></app-basic>
        </div>


        <div *ngIf="activeStep === 'password'">
          <app-password></app-password>
        </div>

        <div *ngIf="activeStep === 'logs'">
          <app-logs [logs]="logsData"></app-logs>
        </div>

        <div *ngIf="activeStep === 'deleteAccount'">
          <app-delete-account></app-delete-account>
        </div>

        <div *ngIf="activeStep === 'activities'">
          <app-activities [activities]="activitiesData"></app-activities>
        </div>
      </div>
    </div>
  </div>
</div>
