.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;

}

.slider-window {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.card {
  width: 320px;
  margin-right: 10px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  overflow: hidden;
  flex-shrink: 0;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.category {
  font-size: 12px;
  color: #007bff;
  font-weight: 600;
  text-transform: uppercase;
}

.card h3 {
  font-size: 18px;
  margin: 8px 0;
}

.card p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  height: 85px;
  overflow: hidden;
}

.card small {
  color: #888;
}

.nav-btn {
  background: #000;
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  opacity: 0.8;
}

.nav-btn:hover {
  opacity: 1;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
