<!-- Card -->
<div id="recentDevicesSection" class="card">
  <div class="card-header">
    <h4 class="card-title">Recent devices</h4>
  </div>

  <!-- Body -->
  <div class="card-body">
    <p class="card-text">View and manage devices where you're currently logged in.</p>
  </div>
  <!-- End Body -->

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-thead-bordered table-nowrap table-align-middle card-table">
      <thead class="thead-light">
      <tr>
        <th>Browser</th>
        <th>Device</th>
        <th>Location</th>
        <th>Most recent activity</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td class="align-items-center">
          <img class="avatar avatar-xss me-2" src="./assets/svg/brands/chrome-icon.svg" alt="Image Description"> Chrome on Windows
        </td>
        <td><i class="bi-laptop fs-3 me-2"></i> Dell XPS 15 <span class="badge bg-soft-success text-success ms-1">Current</span></td>
        <td>London, UK</td>
        <td>Now</td>
      </tr>

      <tr>
        <td class="align-items-center">
          <img class="avatar avatar-xss me-2" src="./assets/svg/brands/chrome-icon.svg" alt="Image Description"> Chrome on Android
        </td>
        <td><i class="bi-phone fs-3 me-2"></i> Google Pixel 3a</td>
        <td>London, UK</td>
        <td>15, August 2020 15:08</td>
      </tr>

      <tr>
        <td class="align-items-center">
          <img class="avatar avatar-xss me-2" src="./assets/svg/brands/chrome-icon.svg" alt="Image Description"> Chrome on Windows
        </td>
        <td><i class="bi-display fs-3 me-2"></i> Microsoft Studio 2</td>
        <td>London, UK</td>
        <td>12, August 2020 20:07</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- End Table -->
</div>
<!-- End Card -->
