<main id="content" role="main" class="main">
  <!-- Content -->
  <div class="bg-dark">
    <div class="content container-fluid" style="height: 25rem;">
      <!-- Page Header -->
      <div class="page-header page-header-light">
        <div class="row align-items-center">
          <div class="col">
            <h1 class="page-header-title">SYSTEM CONFIG</h1>
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <!-- Daterangepicker -->

          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <!-- Nav Scroller -->
        <div class="js-nav-scroller hs-nav-scroller-horizontal">
            <span class="hs-nav-scroller-arrow-prev hs-nav-scroller-arrow-dark-prev" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-left"></i>
              </a>
            </span>

          <span class="hs-nav-scroller-arrow-next hs-nav-scroller-arrow-dark-next" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-right"></i>
              </a>
            </span>

          <!-- Nav -->
          <ul class="nav nav-tabs nav-tabs-light page-header-tabs" id="pageHeaderTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="javascript:;">Overview</a>
            </li>

          </ul>
          <!-- End Nav -->
        </div>
        <!-- End Nav Scroller -->
      </div>
      <!-- End Page Header -->
    </div>
  </div>
  <!-- End Content -->

  <!-- Content -->
  <div class="content container-fluid" style="margin-top: -17rem;">
    <!-- Card -->

    <div class="row g-3">

      <!-- End Col -->

      <div class="col-lg-5">
        <!-- Card -->
        <div class="card h-100">


          <!-- Body -->
          <div class="card-body">
            <div class="row">

              <div class="col  mb-3 mb-lg-5">
                <!-- Card -->
                <div class="card h-100 shadow-none border-1" >



                  <div class="car d-body">
                    <h3 class="card-header-title mb-3"></h3>
                    <section *ngIf="!isModalOpen" class="  position-relative z-3 my-5" style=" max-height:450px; overflow-y: scroll; overflow-x: hidden">
                      <div class="row">
                        <div class="col-6 col-md-4 mb-3" *ngFor="let product of config; let i = index">
                          <a (click)="openModal(i)" class=" text-center" style="cursor: pointer">
                            <div class="d-flex justify-content-center align-items-center">
                              <img style="width:80px; height:80px" [src]="product.image" class="rounded-2 cursor-pointer" [alt]="product.name">

                            </div>
                            <p style="font-size: 12px">{{ product.name | truncateText:14 }}</p>
                          </a>

                        </div>
                      </div>
                    </section ><!-- End Table -->
                  </div>
                  <!-- End Body -->
                </div>
                <!-- End Card -->
              </div>

            </div>
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>
      <div class="col-lg-7">
        <!-- Card -->
        <div class="card">
          <div class="card-header border-bottom">
            <h5 class="card-title"></h5>
          </div>

          <!-- Body -->
          <div class="card-body">
            <div class="row">

              <div class="col  mb-3 mb-lg-5">
                <!-- Card -->
                <div class="card h-100 shadow-none border-1" >



                  <div class="card-body">
                    <h3 class="card-header-title mb-3"></h3>
                    <div class="table-responsive" style="max-height:400px; overflow-y: scroll" >
                      <table class="table table-lg table-nowrap card-table mb-0">
                        <tbody>

                        <tr *ngFor="let details of firebaseDetails; let i =index">

                          <td>{{details[1]}}</td>
                          <td>{{details[2]}}</td>


                        </tr>

                        </tbody>
                      </table>
                    </div>
                    <!-- End Table -->
                  </div>
                  <!-- End Body -->
                </div>
                <!-- End Card -->
              </div>

            </div>
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>

    </div>
  </div>
  <!-- End Content -->

  <!-- Footer -->



  <!-- End Footer -->
</main>

<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-content">
    <div class="card" style=" overflow-y: auto;">
      <!-- Header -->
      <div class="card-header card-header-content-between border-bottom">
        <div class="row gx-1">
          <div class="col-auto">
            <button class="btn btn-primary" (click)="downloadData()">Download <i class="bi-file-earmark-arrow-down me-1"></i></button>
          </div>
          <div class="col-auto">
            <button class="btn btn-danger" (click)="closeModal()">Close</button>
          </div>
        </div>


      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="">
        <h2 class="card-header-title  ">{{ selectedFirebase.name }}</h2>

        <div class="card-body">
        <pre *ngIf="selectedFirebase.data.includes('{')" class="json-container">
          <code [innerHTML]="syntaxHighlight(selectedFirebase.data)"></code>
        </pre>
      </div>
      <!-- End Body -->
    </div>


    <p class="modal-head" *ngIf="!selectedFirebase.data.includes('{')">
      {{ selectedFirebase.data }}
    </p>
    </div>
  </div>
</div>

