<app-password-modal *ngIf="!accessGranted" (unlocked)="onUnlock($event)"></app-password-modal>
<div *ngIf="accessGranted">
  <div class="container-fluid  ">
    <!-- Profile Cover -->
    <div class="profile-cover mt-3">
      <div class="profile-cover-img-wrapper">
        <img class="profile-cover-img" src="img.png" alt="Image Description">
      </div>
    </div>
    <!-- End Profile Cover -->

    <!-- Profile Header -->
    <div class="text-center mb-5">
      <!-- Avatar -->
      <div class="avatar avatar-xxl avatar-circle profile-cover-avatar">
        <img class="avatar-img" src="chatIcons/poly/rector.jpg" alt="Image Description">
        <span class="avatar-status avatar-status-success"></span>
      </div>
      <!-- End Avatar -->

      <h1 class="page-header-title">Dr Abubakar Umar Farouk <i class="bi-patch-check-fill fs-2 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Top endorsed"></i></h1>

      <!-- List -->
      <ul class="list-inline list-px-2">
        <li class="list-inline-item">
          <i class="bi-building me-1"></i>
          <span>Htmlstream</span>
        </li>

        <li class="list-inline-item">
          <i class="bi-geo-alt me-1"></i>
          <a href="#">San Francisco,</a>
          <a href="#">US</a>
        </li>

        <li class="list-inline-item">
          <i class="bi-calendar-week me-1"></i>
          <span>Joined March 2017</span>
        </li>
      </ul>
      <!-- End List -->
    </div>
    <!-- End Profile Header -->
  </div>
  <app-upload-resume></app-upload-resume>

</div>

