
<app-password-modal *ngIf="!accessGranted" (unlocked)="onUnlock($event)"></app-password-modal>
<div *ngIf="accessGranted">
  <app-header-poly [title]="'FCAPT'" [img]="'g1.gif'"></app-header-poly>
  <div class=" mt-2">
    <body class=" navbar-vertical-aside-compact-mode  ">


    <div class="p-1 p-md-3 overflow-hidden ">
      <div class="row g-0">


        <div >

          <div class=" content-space-2">
            <!-- Page Header -->
            <div class="page-header">
              <div class="row align-items-center">
                <div class="col ">
                  <div class="row g-2">
                    <div class="col-auto"><img src="loanSystemIcons/fcaplogo2.png" style="width: 50px"></div>
                    <div class="col-auto">
                      <h1 class="page-header-title mt-2">Federal college of agricultural product technology</h1>
                      <h5 class="page-header-title mt-n2">Safe food for life</h5>
                    </div>
                  </div>

                </div>

              </div>
              <!-- End Row -->
            </div>

            <div class="row">

              <div class="">
                <div class="row">
                  <div class="col-sm-6 col-lg-4 mb-2 mb-lg-2">
                    <app-stats-card [text]="'Departments'" [icon]="'chatIcons/student.svg'" [collectionName]="'FCAP_DEPARTMENTS'"></app-stats-card>
                  </div>

                  <div class="col-sm-6 col-lg-4 mb-2 mb-lg-2">
                    <app-stats-card [text]="'Students'" [icon]="'chatIcons/message.svg'" [collectionName]="'FCAP_STUDENT'"></app-stats-card>
                  </div>
                  <div class="col-sm-6 col-lg-4 mb-2 mb-lg-2">
                    <app-stats-card [text]="'Total messages'" [icon]="'chatIcons/message.svg'" [collectionName]="'FCAPT_SECURITY'"></app-stats-card>
                  </div>

           v


                </div>
<div class="row">
  <div class="col-lg-8 mb-2"> <app-chartData-stats [collections]="['FCAPT_SECURITY', 'FCAP_DEPARTMENTS', 'FCAP_STUDENT']"></app-chartData-stats></div>
  <div class="col-lg-4 mb-2">
    <div class="card">
    <!-- Header -->
    <div class="card-header card-header-content-between">
      <h4 class="card-header-title">Import data into Front Dashboard</h4>


    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body" style="height: 300px">

      <ul class="list-group list-group-flush list-group-no-gutters">

        <li class="list-group-item">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img class="avatar avatar-xs avatar-4x3" src="company-svgrepo-com.svg"
                   alt="Image Description">
            </div>
            <div class="flex-grow-1 ms-3">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">Upload Department</h5>
                  <span class="d-block fs-6 text-body">Create</span>
                </div>
                <!-- End Col -->

                <div class="col-auto">
                  <a class="btn btn-dark btn-sm" (click)="department.set(true)">
                    Launch <span class="d-none d-sm-inline-block"></span>
                    <i class="bi-box-arrow-up-right ms-1"></i>
                  </a>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img class="avatar avatar-xs avatar-4x3" src="document-svgrepo-com.svg"
                   alt="Image Description">
            </div>
            <div class="flex-grow-1 ms-3">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">Upload Students</h5>
                  <span class="d-block fs-6 text-body">Create</span>
                </div>
                <!-- End Col -->

                <div class="col-auto">
                  <a class="btn btn-dark btn-sm" (click)="students.set(true)">
                    Launch <span class="d-none d-sm-inline-block"></span>
                    <i class="bi-box-arrow-up-right ms-1"></i>
                  </a>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img class="avatar avatar-xs avatar-4x3" src="chatIcons/adminIcon/data-definition-details-svgrepo-com.svg"
                   alt="Image Description">
            </div>
            <div class="flex-grow-1 ms-3">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">Message Logs </h5>
                  <span class="d-block fs-6 text-body">view</span>
                </div>
                <!-- End Col -->

                <div class="col-auto">
                  <a class="btn btn-dark btn-sm" routerLink="/admin.FCAPT.messageLog">
                    Launch <span class="d-none d-sm-inline-block"></span>
                    <i class="bi-box-arrow-up-right ms-1"></i>
                  </a>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img class="avatar avatar-xs avatar-4x3" src="chatIcons/settings/SecureMajor.svg"
                   alt="Image Description">
            </div>
            <div class="flex-grow-1 ms-3">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">Settings </h5>
                  <span class="d-block fs-6 text-body">view</span>
                </div>
                <!-- End Col -->

                <div class="col-auto">
                  <a class="btn btn-dark btn-sm" routerLink="/setting">
                    Launch <span class="d-none d-sm-inline-block"></span>
                    <i class="bi-box-arrow-up-right ms-1"></i>
                  </a>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
          </div>
        </li>


      </ul>
    </div>
    <!-- End Body -->
  </div>
  </div>
</div>


                <div class="row g-2 mb-2">
                  <div class="col-md-5 col-lg-4">


                      <app-exports></app-exports>

                  </div>
                  <div class="col-md-7 col-lg-8">
                    <app-actions></app-actions>

                  </div>
                </div>
                <div class="row">
<div class="card">
  <div class="card-body">
    <app-message-facp></app-message-facp>
  </div>
</div>

                      </div>
                <div class="row mb-3">

                  <div class="col-md-12 ">
                    <app-complain-department-stats [collection]="'FCAP_DEPARTMENTS'"></app-complain-department-stats>
                  </div>
                </div>



              </div>
<div class="my-3">

</div>


            </div>
          </div>


        </div>
      </div>
    </div>


    </body>

    <div class="modal-overlay" *ngIf="department()">
      <app-modal [width]="width2" [height]="height3" (closeModal)="closeDepartment()">
        <div class="shadow-none">
          <div class="modal-content">
            <div class=" mb-7">
              <div class="card h-100 shadow-none border-0">
                <!-- Body -->
                <div class="card-body pb-0" style="height: 400px; overflow-y: scroll">
                  <app-add-department [collection]="'FCAP_DEPARTMENTS'"></app-add-department>
                </div>
                <!-- End Body -->

                <!-- Footer -->

                <!-- End Footer -->
              </div>
            </div>
          </div>
        </div>
      </app-modal>
    </div>
    <div class="modal-overlay" *ngIf="students()">
      <app-modal [width]="'600px'" [height]="height3" (closeModal)="closeStudentModal()">
        <div class="shadow-none">
          <div class="modal-content">
            <div class=" mb-7">
              <div class="card h-100 shadow-none border-0">
                <!-- Body -->
                <div class="card-body pb-0" style="height: 400px; overflow-y: scroll">
                  <app-add-student [IMG]="'loanSystemIcons/fcaplogo2.png'" [subHeader]="'Save food for life'" [header]="'Federal College of agricultural produce technology'" [collection]="'FCAP_STUDENTSACCOUNT'"></app-add-student>
                </div>
                <!-- End Body -->

                <!-- Footer -->

                <!-- End Footer -->
              </div>
            </div>
          </div>
        </div>
      </app-modal>
    </div>

  </div>
</div>

