
  @for (stat of dashboardStats; track stat) {
    <div class="mb-2">
      <div class="card card-sm h-100">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <i [class]="stat.icon + ' nav-icon'"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                  <h4 class="mb-1">{{ stat.title }}</h4>
                  <!-- Conditional badge or simple value -->
                  @switch (stat.title) {
                    @case ('Progress') {
                      <span class="fs-5 text-success">
                        <i class="tio-trending-up"></i> {{ stat.value }}
                      </span>
                    }
                    @case ('Tasks closed') {
                      <span class="d-block">
                        {{ stat.value }}
                        @if (stat.badge) {
                          <span class="badge bg-soft-dark text-dark rounded-pill ms-1">
                            {{ stat.badge }}
                          </span>
                        }
                      </span>
                    }
                    @default {
                      <span class="d-block">{{ stat.value }}</span>
                      @if (stat.downloadSpeed !== undefined) {
                        <span class="d-block">
      Download Speed: {{ stat.downloadSpeed  }}
    </span>
                      }
                    }
                  }
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="circles-chart">
                <div class="js-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50">
                    <circle
                      cx="25"
                      cy="25"
                      r="23.5"
                      attr.stroke="#e7eaf3"
                      stroke-width="3"
                      fill="transparent"
                      />
                      <path
                        fill="transparent"
                        [attr.stroke]="stat.percentColor"
                        stroke-width="3"
                        [attr.d]="getCirclePath(stat.percent)"
                        stroke-linecap="round"
                      ></path>
                    </svg>
                    <div
                      class="circles-chart-content"
                      style="position: absolute; text-align: center; width: 100%; font-size: 14px; height: auto; line-height: normal; color: #377dff;"
                      >
                      {{ stat.percent }}%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }


