<app-header-poly></app-header-poly>

<div class="px-1" style="overflow-x: hidden">
  <div class="card content-space-t-2">
    <div class="row">
      <div class="col-lg-4">
        <div class="card-body bg-light h-100 d-flex flex-column">
          <div *ngIf="student() as s">
            <h4>{{ s.name }}</h4>
            <p><strong>Location:</strong> {{ s.location }}</p>
          </div>
        </div>
      </div>

    <!--  <div class="col-lg-8">
        <div class="card-body card-body-height" style="height: 90vh; overflow-y: auto;">
          <h3>Inbox Messages</h3>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let msg of messages()">
              <p><strong>From:</strong> {{ msg.name }} ({{ msg.registrationNumber }})</p>
              <p><strong>Email:</strong> {{ msg.email }}</p>
              <p>{{ msg.message }}</p>
              <small class="text-muted">Sent: {{ msg.sentAt?.toDate() | date:'medium' }}</small>
            </li>
          </ul>
          <p *ngIf="messages().length === 0" class="text-center text-muted">No messages yet.</p>
        </div>
      </div>-->
    </div>
  </div>
</div>
