  <tbr-header></tbr-header>

     <app-testing></app-testing>
<main class="content-wrapper">



    <section class="container pt-5 mt-1 mt-sm-2 mt-md-3 mt-lg-4">

   <div class="row">

  <!-- Banner -->
  <div class="col-lg-4" data-bs-theme="dark">
    <div
      class="d-flex flex-column align-items-center justify-content-end h-100 text-center overflow-hidden rounded-5 px-4 px-lg-3 pt-4 pb-5"
      [style.background]="'#1d2c41 url(' + banner.bg + ') center/cover no-repeat'">

      <div
        class="ratio animate-up-down position-relative z-2 me-lg-4"
        style="max-width: 320px; margin-bottom: -19%; --cz-aspect-ratio: calc(690 / 640 * 100%)">
        <img [src]="banner.image" class="mb-3" [alt]="banner.title">
      </div>

      <h1 class=" mb-2 mt-5">{{ banner.title }}</h1>
      <p class="text-body fw-medium mb-5">{{ banner.subtitle }}</p>


    </div>
  </div>

  <!-- Product list LEFT -->
  <div class="col-sm-6 col-lg-4 d-flex flex-column gap-3 pt-4 py-lg-4">

    <div
      *ngFor="let item of productsLeft"
      class="position-relative animate-underline d-flex align-items-center ps-xl-3">

      <div class="ratio ratio-1x1 flex-shrink-0" style="width: 110px">
        <img [src]="item.image" [alt]="item.title">
      </div>

      <div class="w-100 min-w-0 ps-2 ps-sm-3">

        <h4 class="mb-2">
          <a
            class="stretched-link d-block fs-sm fw-medium text-truncate"
            [href]="item.link">
            <span class="animate-target">{{ item.title }}</span>
          </a>
        </h4>

        <div class="h5 mb-0">{{ item.price }}</div>
      </div>
    </div>
  </div>

  <!-- Product list RIGHT -->
  <div class="col-sm-6 col-lg-4 d-flex flex-column gap-3 pt-3 py-lg-4">

    <div
      *ngFor="let item of productsRight"
      class="position-relative animate-underline d-flex align-items-center ps-xl-3">

      <div class="ratio ratio-1x1 flex-shrink-0" style="width: 110px">
        <img [src]="item.image" [alt]="item.title">
      </div>

      <div class="w-100 min-w-0 ps-2 ps-sm-3">
        <div class="d-flex align-items-center gap-2 mb-2">
          <div class="d-flex gap-1 fs-xs">
            <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
              <i class="ci-star-filled text-warning" *ngIf="item.rating >= i + 1"></i>
              <i class="ci-star text-body-tertiary opacity-75" *ngIf="item.rating < i + 1"></i>
            </ng-container>
          </div>
          <span class="text-body-tertiary fs-xs">{{ item.reviews }}</span>
        </div>

        <h4 class="mb-2">
          <a
            class="stretched-link d-block fs-sm fw-medium text-truncate"
            [href]="item.link">
            <span class="animate-target">{{ item.title }}</span>
          </a>
        </h4>

        <div class="h5 mb-0">
          {{ item.price }}

        </div>
      </div>
    </div>
  </div>

</div>

  </section>
  <!-- Categories that turns into carousel on screen < 992px (lg breackpoint) -->


  <!-- Featured products -->
  <app-home-products></app-home-products>

  <app-offers></app-offers>

  <!-- Instagram feed -->


  <app-home-blogs></app-home-blogs>



<app-home-event></app-home-event>

<div data-aos="fade-down"  class="position-relative bg-primary overflow-hidden">
  <div class=" position-relative zi-2 content-space-1">

        <div class=" px-3 px-md-5">
          <h1 class="display-4 text-white mb-4">Everything You Need is us. Latest updates and Hand-picked resources from our blog.</h1>

          <p class=" text-white lead">Dive into expert insights, innovative ideas, and inspiring stories to elevate your Skills. Explore latest updates and Hand-picked resources with The Creative Insight Blog.

          </p>
        </div>

        <app-card-slider [news]="newss"></app-card-slider>



  </div>

  <!-- Background Shape -->
  <figure class="position-absolute top-0 start-0 w-65">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1246 1078">
      <g opacity=".4">
        <linearGradient id="doubleEllipseTopLeftID1" gradientUnits="userSpaceOnUse" x1="2073.5078" y1="1.7251" x2="2273.4375" y2="1135.5818" gradientTransform="matrix(-1 0 0 1 2600 0)">
          <stop offset="0.4976" style="stop-color:gulpLighten[#377dff,30]"/>
          <stop offset="2" style="stop-color:#377dff"/>
        </linearGradient>
        <polygon fill="url(#doubleEllipseTopLeftID1)" points="519.8,0.6 0,0.6 0,1078 863.4,1078   "/>
        <linearGradient id="doubleEllipseTopLeftID2" gradientUnits="userSpaceOnUse" x1="1717.1648" y1="3.779560e-05" x2="1717.1648" y2="644.0417" gradientTransform="matrix(-1 0 0 1 2600 0)">
          <stop offset="1.577052e-06" style="stop-color:gulpLighten[#377dff,30]"/>
          <stop offset="2" style="stop-color:#377dff"/>
        </linearGradient>
        <polygon fill="url(#doubleEllipseTopLeftID2)" points="519.7,0 1039.4,0.6 1246,639.1 725.2,644   "/>
      </g>
    </svg>
  </figure>
  <!-- End Background Shape -->

  <!-- Shape -->
  <div class="shape shape-bottom zi-1" style="margin-bottom: -.125rem">

  </div>
  <!-- End Shape -->
</div>

  <app-testimonials></app-testimonials>

</main>
<app-anoumouse-footer></app-anoumouse-footer>
