
    <a class="card card-hover-shadow h-100" >
      <div class="card-body">
        <h3 class="">{{text}}</h3>

        <div class="row align-items-center gx-2 mb-1">
          <div class="col-auto">
           <img [src]="icon" width="30px" height="30px">
            <!-- End Chart -->
          </div>
          <div class="col-6">

            <ng-container *ngIf="loading(); else loaded">
              <span>Loading...</span>
            </ng-container>

            <ng-template #loaded>
              <ng-container *ngIf="!error(); else errorTpl">
                <h2 class="card-title text-inherit">{{ count() ?? 0 }}</h2>
              </ng-container>
            </ng-template>

            <ng-template #errorTpl>
              <span class="text-danger">⚠ {{ error() }}</span>
            </ng-template>


          </div>

        </div>
        <!-- End Row -->



      </div>
    </a>

