<!--
<div class="row g-1">
  <div class="col-sm-6 col-md-6 col-lg-3"> <app-statistic-card-percent [title]="'Messages'" [value]="messages()" [percent]="(messages()/1000)*100"></app-statistic-card-percent></div>
  <div class="col-sm-6 col-md-6 col-lg-3"> <app-statistic-card-percent [title]="'Users'" [value]="users()" [percent]="(users()/100)*100"></app-statistic-card-percent></div>
  <div class="col-sm-6 col-md-6 col-lg-3"> <app-statistic-card-percent [title]="'Logs'" [value]="logs()" [percent]="(logs()/5000)*100"></app-statistic-card-percent ></div>
  <div class="col-sm-6 col-md-6 col-lg-3"> <app-statistic-card-percent [title]="'Logs'"></app-statistic-card-percent></div>

</div>
-->
