.hover-ash:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}
.custom-hover {
  padding: 1rem;
  border-radius: 8px;

  transition: all 0.3s ease;
}

.custom-hover:hover {
  background-color: #198754;
  transform: translateY(-5px);
}

.custom-hover:hover .card-title-hover {
  color: #fff;
}
