<app-header-poly>

</app-header-poly>
<div class="content-space-3  px-1  px-md-5 px-lg-5 ">
  <div class="row">
    <div class="col-lg-4">
      <!-- Card -->
      <div class="card card-body mb-3 mb-lg-5">
        <h5>Complete your profile</h5>

        <!-- Progress -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="progress flex-grow-1">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <span class="ms-4">82%</span>
        </div>
        <!-- End Progress -->
      </div>
      <!-- End Card -->

      <!-- Sticky Block Start Point -->
      <div id="accountSidebarNav"></div>

      <!-- Card -->
      <div class="js-sticky-block card mb-3 mb-lg-5" data-hs-sticky-block-options="{
                     &quot;parentSelector&quot;: &quot;#accountSidebarNav&quot;,
                     &quot;breakpoint&quot;: &quot;lg&quot;,
                     &quot;startPoint&quot;: &quot;#accountSidebarNav&quot;,
                     &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                     &quot;stickyOffsetTop&quot;: 20
                   }">
        <!-- Header -->
        <div class="card-header">
          <h4 class="card-header-title">Profile</h4>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="card-body">
          <ul class="list-unstyled list-py-2 text-dark mb-0">
            @for(items of  settings; track items.name ){
              <li class="p-4 card-link custom-hover"><i class="bi-person dropdown-item-icon"></i> {{items.name}}</li>
            }

                 </ul>
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->
    </div>
    <div class="col-lg-8">
      <section class="card shadow-lg  border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
        <div class="card-body">
          <div *ngIf="student() as s">

            <h2>Welcome, {{ s.name }}</h2>


          </div>

          <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3 mt-5">
            <i class="ai-user text-primary lead pe-1 me-2"></i>
            <h2 class="h4 mb-0">Basic info</h2>
          </div>

          <div *ngIf="studentData; else loading">
            <h2>Welcome, {{ studentData.name }}</h2>
            <p><strong>Registration Number:</strong> {{ studentData.registrationNumber }}</p>
            <p><strong>Email:</strong> {{ studentData.email }}</p>
            <p><strong>Phone:</strong> {{ studentData.phone }}</p>
            <p><strong>Gender:</strong> {{ studentData.gender }}</p>
            <p><strong>Level:</strong> {{ studentData.level }}</p>
            <p><strong>Department:</strong> {{ studentData.department }}</p>
            <p><strong>School:</strong> {{ studentData.school }}</p>
          </div>

          <ng-template #loading>
            <p>Loading student data from Firestore...</p>
          </ng-template>


        </div>
      </section>



      <lh-affiliate-password></lh-affiliate-password>
      <lh-delete-affiliate-account></lh-delete-affiliate-account>

    </div>
  </div>
</div>

