<div class="main overflow-hidden">


<app-loan-home-hero></app-loan-home-hero>

<div class="content-space-2">
  <app-statistics></app-statistics>
</div>
<div class="container  ">
  <!-- Heading -->
  <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-6">
    <h2 class="display-4">We partner with more than 60 brands</h2>
    <p class="lead">Clients who have become our friends for many years</p>
  </div>
  <!-- End Heading -->

  <div class="row justify-content-center text-center">
    <div class="col-4 col-sm-3 col-md-2 py-3">
      <img class="avatar avatar-xl avatar-4x3 avatar-centered" style="border-radius:20px"
           src="loanSystemIcons/bank/cbn.png" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col-4 col-sm-3 col-md-2 py-3">
      <img class="avatar avatar-xl avatar-4x3 avatar-centered" style="border-radius:20px"
           src="loanSystemIcons/bank/fcmb.png" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col-4 col-sm-3 col-md-2 py-3">
      <img class="avatar avatar-xl avatar-4x3 avatar-centered" style="border-radius:20px"
           src="loanSystemIcons/bank/gtbank.png" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col-4 col-sm-3 col-md-2 py-3">
      <img class="avatar avatar-xl avatar-4x3 avatar-centered" style="border-radius:20px"
           src="loanSystemIcons/bank/opa.webp" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col-4 col-sm-3 col-md-2 py-3">
      <img class="avatar avatar-xl avatar-4x3 avatar-centered" style="border-radius:20px"
           src="loanSystemIcons/bank/uba.png" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col-4 col-sm-3 col-md-2 py-3">
      <img class="avatar avatar-xl avatar-4x3 avatar-centered" style="border-radius:20px"
           src="loanSystemIcons/bank/zenith.png" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col-4 col-sm-3 col-md-2 py-3">
      <img class="avatar avatar-xl avatar-4x3 avatar-centered" style="border-radius:20px"
           src="loanSystemIcons/bank/fidelity.svg" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col-4 col-sm-3 col-md-2 py-3">
      <img class="avatar avatar-xl avatar-4x3 avatar-centered" style="border-radius:20px"
           src="loanSystemIcons/bank/kuda.jpg" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col-4 col-sm-3 col-md-2 py-3">
      <img class="avatar avatar-xl avatar-4x3 avatar-centered" style="border-radius:20px"
           src="loanSystemIcons/bank/standard.png" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col-4 col-sm-3 col-md-2 py-3">
      <img class="avatar avatar-xl avatar-4x3 avatar-centered" style="border-radius:20px"
           src="loanSystemIcons/bank/unity.jpg" alt="Logo">
    </div>
    <!-- End Col -->

    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<div class="overflow-hidden">
  <div class="px-2 px-md-8 content-space-1">
    <!-- Heading -->
    <div class="w-lg-50 text-center mx-lg-auto mb-5 mb-md-9">
      <h2 class="display-4">Always know what you'll pay.</h2>
      <p>Once you're setup, instantly withdraw payments or deposit into your bank account within 2-3 business days.</p>
    </div>
    <!-- End Heading -->

    <div class="row gx-0 align-items-lg-center mb-7  ">
      <div class="col-lg-6">
        <!-- Card -->
        <div class="card card-lg shadow-lg text-center zi-2 aos-init aos-animate" data-aos="fade-up">
          <div class="card-header pb-0">
            <div class="mb-1">
              <span class="display-4 text-primary">1.5%</span>
              <span class="badge bg-dark rounded-pill align-top ms-1">+0.5 USD</span>
            </div>
            <p>per successful transaction</p>
          </div>

          <div class="card-body">
            <div class="row justify-content-sm-center align-items-sm-center mb-5">
              <div class="col-sm-5">
                <div class="mb-2">
                  <img class="avatar avatr-xl avatar-4x3" src="loanSystemIcons/img_1.png" alt="SVG">
                </div>

                <h4>Account creation</h4>
              </div>
              <!-- End Col -->

              <div class="col-sm-1 my-3 my-sm-0">
                <span class="fs-3 text-primary">+</span>
              </div>
              <!-- End Col -->

              <div class="col-sm-5">
                <div class="mb-2">
                  <img class="avatar avatr-xl avatar-4x3" src="loanSystemIcons/img_2.png" alt="SVG">
                </div>

                <h4>Professional account</h4>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <div class="mb-7">
              <p class="card-text small">Included for 3 months,<br>then $2.5/monthly included VAT</p>
            </div>

            <button type="button" class="btn btn-primary btn-transition px-6">Get started</button>
          </div>
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->

      <div class="col-lg-6">
        <!-- Card -->
        <div class="card card-lg shadow-lg bg-dark ms-md-n2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="card-body">
            <!-- List Checked -->
            <ul class="list-pointer list-pointer-soft-bg-light list-pointer-lg">
              <li class="list-pointer-item" *ngFor="let item of whyChooseUs">
                <h4 class="text-white mb-1">{{ item.header }}</h4>
                <p class="text-white-70 mb-0">{{ item.description }}</p>
              </li>
            </ul>

            <!-- End List Checked -->
          </div>
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <!-- CTA -->
    <div class="w-lg-75 mx-lg-auto">
      <div class="d-block d-sm-flex align-items-sm-center">
        <div class="flex-shrink-0 mb-3 mb-sm-0">
          <img class="avatar avatar-xl avatar-4x3" src="loanSystemIcons/img.png" alt="SVG">
        </div>

        <div class="flex-grow-1 ms-4">
          <h4 class="display-5">Empowering Your Goals with Quick Loans</h4>
          <p class="mb-0 lead">
            Our loans provide fast funding and flexible terms for every borrower. Whether you need capital to grow your
            business, cover unexpected expenses, or invest in personal projects, we make financing simple and accessible.
            Discover how our tailored solutions can help you achieve your dreams faster and with peace of mind. <i
            class="bi-chevron-right small"></i>
          </p>
        </div>

      </div>
    </div>
    <!-- End CTA -->
  </div>
</div>
<div class="container content-space-1">
  <!-- Heading -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <span class="d-block small font-weight-bold text-cap mb-2">Our Team</span>
    <h2>Trust the professionals</h2>
  </div>
  <!-- End Heading -->

  <div class="row mb-7">
    <div class="col-sm-6 col-md-3 mb-5 mb-lg-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="./assets/img/400x500/img28.jpg" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Christina Kray</h4>
          <p class="card-text">Project Manager</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-md-3 mb-5 mb-lg-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="./assets/img/400x500/img29.jpg" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Jeff Fisher</h4>
          <p class="card-text">CEO, Director</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-md-3 mb-5 mb-sm-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="./assets/img/400x500/img30.jpg" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Lida Reidy</h4>
          <p class="card-text">Marketer</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-md-3">
      <!-- Team -->
      <img class="card-img rounded-2" src="./assets/img/400x500/img27.jpg" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Amy Forren</h4>
          <p class="card-text">Lead Designer</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <!-- Card Info -->
  <div class="text-center">
    <div class="card card-info-link card-sm">
      <div class="card-body">
        Want to work with us? <a class="card-link ms-2" href="./page-hire-us.html">We're hiring <span class="bi-chevron-right small ms-1"></span></a>
      </div>
    </div>
  </div>
  <!-- End Card Info -->
</div>

<div class="container content-space-t-2 content-space-t-lg-3 content-space-b-lg-2">
  <!-- Heading -->
  <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <span class="text-cap">Always improving</span>
    <h2 class="display-4">Why choose us</h2>
  </div>
  <!-- End Heading -->

  <!-- Step -->
  <ul class="step step-md step-centered">
    <li class="step-item" *ngFor="let item of whyChooseUs; let i = index">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary">{{ i + 1 }}</span>
        <div class="step-content">
          <h1>{{ item.header }}</h1>
          <p class="lead">{{ item.description }}</p>
        </div>
      </div>
    </li>
  </ul>
  <!-- End Step -->
</div>


<tbr-testimonials></tbr-testimonials>

<!-- Swiper Slider -->

<section class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
  <h2 class="h1 text-center pb-3 pt-2 pt-sm-3 pt-md-4 pt-lg-5 mt-md-3 mt-lg-0 mb-3 mb-lg-4">Our benefits</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 gy-4 gy-sm-5 gx-4 pb-3 pb-md-4 pb-lg-5 mb-md-3 mb-lg-0">

    <!-- Item -->
    <div class="col text-center">
      <div class="ratio ratio-1x1 position-relative mx-auto mb-3 mb-sm-4" style="width: 68px;">
        <i class="ai-search-settings text-primary fs-1 d-flex align-items-center justify-content-center position-absolute start-0"></i>
        <svg class="position-absolute top-0 start-0 text-primary" width="68" height="68" viewBox="0 0 68 68" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M56.0059 60.5579C44.1549 78.9787 18.0053 58.9081 6.41191 46.5701C-2.92817 35.5074 -2.81987 12.1818 11.7792 3.74605C30.0281 -6.79858 48.0623 7.40439 59.8703 15.7971C71.6784 24.1897 70.8197 37.5319 56.0059 60.5579Z" fill-opacity="0.1"></path>
        </svg>
      </div>
      <h3 class="h4 pb-2 mb-1">Online support</h3>
      <p class="fs-sm mb-0">Pharetra morbi quis is massa maecenas vulputate elit non nullage a duis tortor mi massa pharetra.</p>
    </div>

    <!-- Item -->
    <div class="col text-center">
      <div class="ratio ratio-1x1 position-relative mx-auto mb-3 mb-sm-4" style="width: 68px;">
        <i class="ai-bulb-alt text-primary fs-1 d-flex align-items-center justify-content-center position-absolute start-0"></i>
        <svg class="position-absolute top-0 start-0 text-primary" width="68" height="68" viewBox="0 0 68 68" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M65.0556 29.2672C75.4219 46.3175 48.5577 59.7388 33.8299 64.3181C21.0447 67.5599 1.98006 58.174 0.888673 42.8524C-0.475555 23.7004 18.3473 14.5883 29.9289 8.26059C41.5104 1.93285 52.0978 7.9543 65.0556 29.2672Z" fill-opacity="0.1"></path>
        </svg>
      </div>
      <h3 class="h4 pb-2 mb-1">100% guarantee</h3>
      <p class="fs-sm mb-0">Sapien ultrices egestas at faucibus eu diam velit diam id amet nibh quam rutrum diam  diam natoque scelerisque.</p>
    </div>

    <!-- Item -->
    <div class="col text-center">
      <div class="ratio ratio-1x1 position-relative mx-auto mb-3 mb-sm-4" style="width: 68px;">
        <i class="ai-circle-check-filled text-primary fs-2 d-flex align-items-center justify-content-center position-absolute start-0"></i>
        <svg class="position-absolute top-0 start-0 text-primary" width="68" height="68" viewBox="0 0 68 68" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.61057 18.2783C10.8205 -1.22686 39.549 7.51899 53.3869 14.3301C64.8949 20.7749 72.2705 40.7038 62.5199 52.5725C50.3318 67.4085 30.4034 61.0689 17.6454 57.6914C4.88745 54.314 1.3482 42.6597 6.61057 18.2783Z" fill-opacity="0.1"></path>
        </svg>
      </div>
      <h3 class="h4 pb-2 mb-1">Work on time</h3>
      <p class="fs-sm mb-0">Morbi et massa fames ac scelerisque sit commodo dignissim faucibus vel quisque proin lectus orbi et massa fames.</p>
    </div>

    <!-- Item -->
    <div class="col text-center">
      <div class="ratio ratio-1x1 position-relative mx-auto mb-3 mb-sm-4" style="width: 68px;">
        <i class="ai-rocket text-primary fs-2 d-flex align-items-center justify-content-center position-absolute start-0"></i>
        <svg class="position-absolute top-0 start-0 text-primary" width="68" height="68" viewBox="0 0 68 68" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.34481 53.5078C-7.24653 42.4218 11.4487 18.9206 22.8702 8.55583C33.0946 0.223307 54.3393 0.690942 61.7922 14.1221C71.1082 30.9111 57.886 47.1131 50.0546 57.7358C42.2233 68.3586 30.084 67.3653 9.34481 53.5078Z" fill-opacity="0.1"></path>
        </svg>
      </div>
      <h3 class="h4 pb-2 mb-1">Free consultation</h3>
      <p class="fs-sm mb-0">Consectetur adipiscing elit proin volutpat mollis egestas nam luctus facilisis ultrices pellentesque volutpat ligula est.</p>
    </div>
  </div>
</section>



 <app-faq></app-faq>

  <div id="aboutSection" class="container content-space-t-2 content-space-t-lg-3">
    <!-- Heading -->
    <div class="w-lg-75 text-center mx-auto mb-5 mb-sm-9">
      <h2 class="h1">What we do?</h2>
      <p>A flexible theme for modern SaaS businesses</p>
    </div>
    <!-- End Heading -->

    <div class="row">
      <div class="col-md-4 mb-7">
        <!-- Icon Blocks -->
        <div class="text-center px-lg-3">
            <span class="svg-icon svg-icon-lg text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.6 5.59998L20.9 10.9C21.3 11.3 21.3 11.9 20.9 12.3L17.6 15.6L11.6 9.59998L15.6 5.59998ZM2.3 12.3L7.59999 17.6L11.6 13.6L5.59999 7.59998L2.3 10.9C1.9 11.3 1.9 11.9 2.3 12.3Z"
                fill="#035A4B"></path>
              <path opacity="0.3"
                    d="M17.6 15.6L12.3 20.9C11.9 21.3 11.3 21.3 10.9 20.9L7.59998 17.6L13.6 11.6L17.6 15.6ZM10.9 2.3L5.59998 7.6L9.59998 11.6L15.6 5.6L12.3 2.3C11.9 1.9 11.3 1.9 10.9 2.3Z"
                    fill="#035A4B"></path>
              </svg>

            </span>

          <h3>Industry-leading designs</h3>
          <p>Achieve virtually any design and layout from within the one template.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <!-- End Col -->

      <div class="col-md-4 mb-7">
        <!-- Icon Blocks -->
        <div class="text-center px-lg-3">
            <span class="svg-icon svg-icon-lg text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                    d="M4.85714 1H11.7364C12.0911 1 12.4343 1.12568 12.7051 1.35474L17.4687 5.38394C17.8057 5.66895 18 6.08788 18 6.5292V19.0833C18 20.8739 17.9796 21 16.1429 21H4.85714C3.02045 21 3 20.8739 3 19.0833V2.91667C3 1.12612 3.02045 1 4.85714 1ZM7 13C7 12.4477 7.44772 12 8 12H15C15.5523 12 16 12.4477 16 13C16 13.5523 15.5523 14 15 14H8C7.44772 14 7 13.5523 7 13ZM8 16C7.44772 16 7 16.4477 7 17C7 17.5523 7.44772 18 8 18H11C11.5523 18 12 17.5523 12 17C12 16.4477 11.5523 16 11 16H8Z"
                    fill="#035A4B"></path>
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M6.85714 3H14.7364C15.0911 3 15.4343 3.12568 15.7051 3.35474L20.4687 7.38394C20.8057 7.66895 21 8.08788 21 8.5292V21.0833C21 22.8739 20.9796 23 19.1429 23H6.85714C5.02045 23 5 22.8739 5 21.0833V4.91667C5 3.12612 5.02045 3 6.85714 3ZM7 13C7 12.4477 7.44772 12 8 12H15C15.5523 12 16 12.4477 16 13C16 13.5523 15.5523 14 15 14H8C7.44772 14 7 13.5523 7 13ZM8 16C7.44772 16 7 16.4477 7 17C7 17.5523 7.44772 18 8 18H11C11.5523 18 12 17.5523 12 17C12 16.4477 11.5523 16 11 16H8Z"
                    fill="#035A4B"></path>
              </svg>

            </span>

          <h3>Learn from the docs</h3>
          <p>Whether you're a startup or a global enterprise, learn how to integrate with Front.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <!-- End Col -->

      <div class="col-md-4 mb-7">
        <!-- Icon Blocks -->
        <div class="text-center px-lg-3">
            <span class="svg-icon svg-icon-lg text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15 19.5229C15 20.265 15.9624 20.5564 16.374 19.9389L22.2227 11.166C22.5549 10.6676 22.1976 10 21.5986 10H17V4.47708C17 3.73503 16.0376 3.44363 15.626 4.06106L9.77735 12.834C9.44507 13.3324 9.80237 14 10.4014 14H15V19.5229Z"
                    fill="#035A4B"></path>
              <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                    d="M3 6.5C3 5.67157 3.67157 5 4.5 5H9.5C10.3284 5 11 5.67157 11 6.5C11 7.32843 10.3284 8 9.5 8H4.5C3.67157 8 3 7.32843 3 6.5ZM3 18.5C3 17.6716 3.67157 17 4.5 17H9.5C10.3284 17 11 17.6716 11 18.5C11 19.3284 10.3284 20 9.5 20H4.5C3.67157 20 3 19.3284 3 18.5ZM2.5 11C1.67157 11 1 11.6716 1 12.5C1 13.3284 1.67157 14 2.5 14H6.5C7.32843 14 8 13.3284 8 12.5C8 11.6716 7.32843 11 6.5 11H2.5Z"
                    fill="#035A4B"></path>
              </svg>

            </span>

          <h3>Accelerate your business</h3>
          <p>We help power millions of businesses to built and run smoothly.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>




<div class="container">
  <div id="contactsSection" class="bg-light position-relative rounded-2 mx-3 mx-md-8">
    <div class="container content-space-1 ">
      <div class="row justify-content-md-end">
        <div class="col-md-6 ">
          <!-- Card -->
          <div class="card card-lg position-relative zi-999">
            <div class="card-body">
              <!-- Heading -->
              <div class="mb-5">
                <h4 class="card-title">{{ address }}</h4>
                <h2 class="card-title h1">{{ state }}</h2>
              </div>
              <!-- End Heading -->

              <!-- Media -->
              <div class="d-flex mb-5">
                <div class="flex-shrink-0">
                    <span class="svg-icon svg-icon-sm text-primary me-3">
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.3"
                            d="M16 0.200012H4C1.8 0.200012 0 2.00001 0 4.20001V16.2C0 18.4 1.8 20.2 4 20.2H16C18.2 20.2 20 18.4 20 16.2V4.20001C20 2.00001 18.2 0.200012 16 0.200012ZM15 10.2C15 10.9 14.8 11.6 14.6 12.2H18V16.2C18 17.3 17.1 18.2 16 18.2H12V14.8C11.4 15.1 10.7 15.2 10 15.2C9.3 15.2 8.6 15 8 14.8V18.2H4C2.9 18.2 2 17.3 2 16.2V12.2H5.4C5.1 11.6 5 10.9 5 10.2C5 9.50001 5.2 8.80001 5.4 8.20001H2V4.20001C2 3.10001 2.9 2.20001 4 2.20001H8V5.60001C8.6 5.30001 9.3 5.20001 10 5.20001C10.7 5.20001 11.4 5.40001 12 5.60001V2.20001H16C17.1 2.20001 18 3.10001 18 4.20001V8.20001H14.6C14.8 8.80001 15 9.50001 15 10.2Z"
                            fill="#035A4B"></path>
                      <path
                        d="M12 1.40002C15.4 2.20002 18 4.80003 18.8 8.20003H14.6C14.1 7.00003 13.2 6.10003 12 5.60003V1.40002V1.40002ZM5.40001 8.20003C5.90001 7.00003 6.80001 6.10003 8.00001 5.60003V1.40002C4.60001 2.20002 2.00001 4.80003 1.20001 8.20003H5.40001ZM14.6 12.2C14.1 13.4 13.2 14.3 12 14.8V19C15.4 18.2 18 15.6 18.8 12.2H14.6V12.2ZM8.00001 14.8C6.80001 14.3 5.90001 13.4 5.40001 12.2H1.20001C2.00001 15.6 4.60001 18.2 8.00001 19V14.8V14.8Z"
                        fill="#035A4B"></path>
                      </svg>

                    </span>
                </div>

                <div class="flex-grow-1">
                  <h5 class="mb-1">Call us</h5>
                  <span class="d-block small">{{ phone }}</span>
                </div>
              </div>
              <!-- End Media -->

              <!-- Media -->
              <div class="d-flex mb-5">
                <div class="flex-shrink-0">
                    <span class="svg-icon svg-icon-sm text-primary me-3">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M22.1671 18.1421C22.4827 18.4577 23.0222 18.2331 23.0206 17.7868L23.0039 13.1053V5.52632C23.0039 4.13107 21.8729 3 20.4776 3H8.68815C7.2929 3 6.16183 4.13107 6.16183 5.52632V9H13C14.6568 9 16 10.3431 16 12V15.6316H19.6565L22.1671 18.1421Z"
                            fill="#035A4B"></path>
                      <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.98508 18V13C1.98508 11.8954 2.88051 11 3.98508 11H11.9851C13.0896 11 13.9851 11.8954 13.9851 13V18C13.9851 19.1046 13.0896 20 11.9851 20H4.10081L2.85695 21.1905C2.53895 21.4949 2.01123 21.2695 2.01123 20.8293V18.3243C1.99402 18.2187 1.98508 18.1104 1.98508 18ZM5.99999 14.5C5.99999 14.2239 6.22385 14 6.49999 14H11.5C11.7761 14 12 14.2239 12 14.5C12 14.7761 11.7761 15 11.5 15H6.49999C6.22385 15 5.99999 14.7761 5.99999 14.5ZM9.49999 16C9.22385 16 8.99999 16.2239 8.99999 16.5C8.99999 16.7761 9.22385 17 9.49999 17H11.5C11.7761 17 12 16.7761 12 16.5C12 16.2239 11.7761 16 11.5 16H9.49999Z"
                            fill="#035A4B"></path>
                      </svg>

                    </span>
                </div>

                <div class="flex-grow-1">
                  <h5 class="mb-1">Email us</h5>
                  <span class="d-block small">{{ email }}</span>
                </div>
              </div>
              <!-- End Media -->

              <!-- Media -->
              <div class="d-flex">
                <div class="flex-shrink-0">
                    <span class="svg-icon svg-icon-sm text-primary me-3">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.3"
                            d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z"
                            fill="#035A4B"></path>
                      <path
                        d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z"
                        fill="#035A4B"></path>
                      </svg>

                    </span>
                </div>

                <div class="flex-grow-1">
                  <h5 class="mb-1">Visit us</h5>
                  <span class="d-block small">{{ location }}</span>
                </div>
              </div>
              <!-- End Media -->
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>

    <!-- Gmap -->
    <div class="position-md-absolute top-0 start-0 bottom-0 end-0">
      <div tabindex="0" style="position: relative;">
       <div class="col-md-6">
         <div class="card">
           <div class="card-body">
             <!-- Heading -->
             <div class="text-center mb-5 mb-md-9">
               <h2>Tell us about yourself</h2>
               <p>Whether you have questions or you would just like to say hello, contact us.</p>
             </div>
             <!-- End Heading -->

             <!-- Form -->
             <form>
               <div class="row gx-3">
                 <div class="col-sm-6">
                   <!-- Form -->
                   <div class="mb-3">
                     <label class="form-label" for="hireUsFormFirstName">First name</label>
                     <input type="text" class="form-control form-control-lg" name="hireUsFormNameFirstName" id="hireUsFormFirstName" placeholder="First name" aria-label="First name">
                   </div>
                   <!-- End Form -->
                 </div>
                 <!-- End Col -->

                 <div class="col-sm-6">
                   <!-- Form -->
                   <div class="mb-3">
                     <label class="form-label" for="hireUsFormLasttName">Last name</label>
                     <input type="text" class="form-control form-control-lg" name="hireUsFormNameLastName" id="hireUsFormLasttName" placeholder="Last name" aria-label="Last name">
                   </div>
                   <!-- End Form -->
                 </div>
                 <!-- End Col -->
               </div>
               <!-- End Row -->

               <div class="row gx-3">
                 <div class="col-sm-6">
                   <!-- Form -->
                   <div class="mb-3">
                     <label class="form-label" for="hireUsFormWorkEmail">Email address</label>
                     <input type="email" class="form-control form-control-lg" name="hireUsFormNameWorkEmail" id="hireUsFormWorkEmail" placeholder="email@site.com" aria-label="email@site.com">
                   </div>
                   <!-- End Form -->
                 </div>
                 <!-- End Col -->

                 <div class="col-sm-6">
                   <!-- Form -->
                   <div class="mb-3">
                     <label class="form-label" for="hireUsFormPhone">Phone <span class="form-label-secondary">(Optional)</span></label>
                     <input type="text" class="form-control form-control-lg" name="hireUsFormNamePhone" id="hireUsFormPhone" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx">
                   </div>
                   <!-- End Form -->
                 </div>
                 <!-- End Col -->
               </div>
               <!-- End Row -->

               <!-- Form -->
               <div class="mb-3">
                 <label class="form-label" for="hireUsFormDetails">Details</label>
                 <textarea class="form-control form-control-lg" name="hireUsFormNameDetails" id="hireUsFormDetails" placeholder="Tell us about your ..." aria-label="Tell us about your ..." rows="4"></textarea>
               </div>
               <!-- End Form -->

               <div class="d-grid">
                 <button type="submit" class="btn btn-primary btn-lg">Send inquiry</button>
               </div>

               <div class="text-center">
                 <p class="form-text">We'll get back to you in 1-2 business days.</p>
               </div>
             </form>
             <!-- End Form -->
           </div>
         </div>
       </div>
      </div>
    </div>
    <!-- End Gmap -->
  </div>
</div>


  <div class="container">
    <div class="border-bottom content-space-2 content-space-lg-3">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="d-block small font-weight-bold text-cap mb-2">Company values</span>
        <h2>The Front culture</h2>
      </div>
      <!-- End Heading -->

      <div class="row">
        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Hit heavy, stay small</h4>
              <p>Tight-knit, dynamic teams work with more agility, communication, and freedom than large-scale companies.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Ambition by the boatload</h4>
              <p>We love people who aim for greatness. They inspire and excite their teammates, raising the bar for all of us.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Open communication</h4>
              <p>We're big fans of transparency for many reasons, but the abridged version is: it makes easier.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Autonomy and attitude</h4>
              <p>We're a team of self-starters who take serious pride in our work – and it shows.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Support and win</h4>
              <p>When we empower others to succeed, we all win. (And we're not talking about participation trophies.)</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Teamwork makes the dream work</h4>
              <p>We work together to bring our passions and expertise to make Teachable the best it can be.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Icon Blocks -->

  <div class="border-top mx-auto" style="max-width: 25rem;"></div>




<footer class="bg-dark">
  <app-how-it-works></app-how-it-works>
  <div class="container pb-1 pb-lg-5">


    <div class="border-top border-white-10 my-7"></div>

    <div class="row mb-7">
      <div class="col-sm mb-3 mb-sm-0">
        <!-- Socials -->
        <ul class="list-inline list-separator list-separator-light mb-0">
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Privacy &amp; Policy</a>
          </li>
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Site Map</a>
          </li>
        </ul>
        <!-- End Socials -->
      </div>

      <div class="col-sm-auto">
        <!-- Socials -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-soft-light btn-xs btn-icon" href="#">
              <i class="bi-facebook"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-soft-light btn-xs btn-icon" href="#">
              <i class="bi-google"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-soft-light btn-xs btn-icon" href="#">
              <i class="bi-twitter"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-soft-light btn-xs btn-icon" href="#">
              <i class="bi-github"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <!-- Button Group -->
            <div class="btn-group">
              <button type="button" class="btn btn-soft-light btn-xs dropdown-toggle" id="footerSelectLanguage" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation="">
                  <span class="d-flex align-items-center">
                    <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16">
                    <span>English (US)</span>
                  </span>
              </button>

              <div class="dropdown-menu" aria-labelledby="footerSelectLanguage">
                <a class="dropdown-item d-flex align-items-center active" href="#">
                  <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16">
                  <span>English (US)</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/de.svg" alt="Image description" width="16">
                  <span>Deutsch</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/es.svg" alt="Image description" width="16">
                  <span>Español</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/cn.svg" alt="Image description" width="16">
                  <span>中文 (繁體)</span>
                </a>
              </div>
            </div>
            <!-- End Button Group -->
          </li>
        </ul>
        <!-- End Socials -->
      </div>
    </div>

    <!-- Copyright -->
    <div class="w-md-85 text-lg-center mx-lg-auto">
      <p class="text-white-50 small">© Front. 2021 Htmlstream. All rights reserved.</p>
      <p class="text-white-50 small">When you visit or interact with our sites, services or tools, we or our authorised service providers may use cookies for storing information to help provide you with a better, faster and safer experience and for marketing purposes.</p>
    </div>
    <!-- End Copyright -->
  </div>
</footer>
</div>
