.card {
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > .col-sm-6.col-lg-4 {
  display: flex;
}

.card-body {
  flex-grow: 1;
}
.js-swiper-main .swiper-slide {
  height: 40vh !important; /* Reduce slider height */
  min-height: 350px;
}

.js-swiper-thumbs .swiper-slide {
  height: 20vh;
}

