<div class="container-fluid mt-2">
<body class=" navbar-vertical-aside-compact-mode  " >



<div class="container-fluid">
  <div class="row g-0">

    <div class="col-md-1" *ngIf="nav()">

      <app-side-bar>

      </app-side-bar>
    </div>
    <div [class]="navClass()">

        <div class=" ">
          <!-- Page Header -->
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <div class="row g-2">
                  <div class="col-auto"><img src="chatIcons/poly/poly.png" style="width: 50px"></div>
                  <div class="col-auto">
                    <h1 class="page-header-title mt-2">Kano State Polytechnic</h1>
                    <h5 class="page-header-title mt-n2">Amfanin Ilimi Aiki Dashi</h5>
                  </div>
                </div>

              </div>
              <!-- End Col -->

              <div class="col-auto">

                <a class="btn btn-primary" (click)="this.openNav()" *ngIf="navOpenButton()" data-bs-toggle="modal" data-bs-target="#inviteUserModal">
                  <i class="bi-person-plus-fill me-1"></i> Invite users
                </a>
                <a class="btn btn-primary" (click)="this.closeNav()" *ngIf="navCloseButton()" data-bs-toggle="modal" data-bs-target="#inviteUserModal">
                  <i class="bi-person-plus-fill me-1"></i> Invite users
                </a>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <div class="row">

            <div class="">
              <div class="row">
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5"><app-stats-card [text]="'Students'"></app-stats-card></div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5"><app-stats-card [text]="'Lecturers'"></app-stats-card></div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">              <app-stats-card [text]="'Resolved'"></app-stats-card></div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">              <app-stats-card [text]="'Pending'"></app-stats-card></div>
              </div>
                  <!-- Card -->



<div class="row">
  <div class="col-md-6 col-lg-4"><app-chat-gender></app-chat-gender></div>
  <div class="col-md-6 col-lg-8"><app-admin-chat-inbox></app-admin-chat-inbox></div>
</div>
              <!-- End Stats -->

              <div class="row">
                <div class="col-lg-5 mb-3 mb-lg-5">
                  <!-- Card -->
                  <div class="card h-100">
                    <!-- Header -->
                    <div class="card-header card-header-content-between">
                      <h4 class="card-header-title">Import data into Front Dashboard</h4>

                      <!-- Dropdown -->
                      <div class="dropdown">
                        <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="reportsOverviewDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi-three-dots-vertical"></i>
                        </button>

                        </div>
                      <!-- End Dropdown -->
                    </div>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body">

                      <ul class="list-group list-group-flush list-group-no-gutters">

                        <!-- List Group Item -->
                        <li class="list-group-item">
                          <div class="d-flex">
                            <div class="flex-shrink-0">
                              <img class="avatar avatar-xs avatar-4x3" src="./assets/svg/brands/capsule-icon.svg" alt="Image Description">
                            </div>
                            <div class="flex-grow-1 ms-3">
                              <div class="row align-items-center">
                                <div class="col">
                                  <h5 class="mb-0">Upload Department</h5>
                                  <span class="d-block fs-6 text-body">Create</span>
                                </div>
                                <!-- End Col -->

                                <div class="col-auto">
                                  <a class="btn btn-primary btn-sm" (click)="department.set(true)">
                                    Launch <span class="d-none d-sm-inline-block">importer</span>
                                    <i class="bi-box-arrow-up-right ms-1"></i>
                                  </a>
                                </div>
                                <!-- End Col -->
                              </div>
                              <!-- End Row -->
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <div class="d-flex">
                            <div class="flex-shrink-0">
                              <img class="avatar avatar-xs avatar-4x3" src="./assets/svg/brands/capsule-icon.svg" alt="Image Description">
                            </div>
                            <div class="flex-grow-1 ms-3">
                              <div class="row align-items-center">
                                <div class="col">
                                  <h5 class="mb-0">Upload Lecturer</h5>
                                  <span class="d-block fs-6 text-body">Create</span>
                                </div>
                                <!-- End Col -->

                                <div class="col-auto">
                                  <a class="btn btn-primary btn-sm" (click)="lecturer.set(true)">
                                    Launch <span class="d-none d-sm-inline-block">importer</span>
                                    <i class="bi-box-arrow-up-right ms-1"></i>
                                  </a>
                                </div>
                                <!-- End Col -->
                              </div>
                              <!-- End Row -->
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <div class="d-flex">
                            <div class="flex-shrink-0">
                              <img class="avatar avatar-xs avatar-4x3" src="./assets/svg/brands/capsule-icon.svg" alt="Image Description">
                            </div>
                            <div class="flex-grow-1 ms-3">
                              <div class="row align-items-center">
                                <div class="col">
                                  <h5 class="mb-0">Upload Students</h5>
                                  <span class="d-block fs-6 text-body">Create</span>
                                </div>
                                <!-- End Col -->

                                <div class="col-auto">
                                  <a class="btn btn-primary btn-sm" (click)="students.set(true)">
                                    Launch <span class="d-none d-sm-inline-block">importer</span>
                                    <i class="bi-box-arrow-up-right ms-1"></i>
                                  </a>
                                </div>
                                <!-- End Col -->
                              </div>
                              <!-- End Row -->
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <div class="d-flex">
                            <div class="flex-shrink-0">
                              <img class="avatar avatar-xs avatar-4x3" src="./assets/svg/brands/capsule-icon.svg" alt="Image Description">
                            </div>
                            <div class="flex-grow-1 ms-3">
                              <div class="row align-items-center">
                                <div class="col">
                                  <h5 class="mb-0">Upload Post</h5>
                                  <span class="d-block fs-6 text-body">Create</span>
                                </div>
                                <!-- End Col -->

                                <div class="col-auto">
                                  <a class="btn btn-primary btn-sm" (click)="post.set(true)">
                                    Launch <span class="d-none d-sm-inline-block">importer</span>
                                    <i class="bi-box-arrow-up-right ms-1"></i>
                                  </a>
                                </div>
                                <!-- End Col -->
                              </div>
                              <!-- End Row -->
                            </div>
                          </div>
                        </li>
                              </ul>
                    </div>
                    <!-- End Body -->
                  </div>
                  <!-- End Card -->
                </div>
                <!-- End Col -->

                <div class="col-lg-7 mb-3 mb-lg-5">
                  <!-- Card -->
                  <app-department-stats></app-department-stats>
                  <!-- End Card -->
                </div>
                <!-- End Col -->
              </div>
              <app-students-chat-view></app-students-chat-view>





            </div>


          </div>
        </div>



    </div>
  </div>
</div>




</body>

  <div class="modal-overlay" *ngIf="department()">
    <app-modal [width]="width2" [height]="height3" (closeModal)="closeDepartment()">
      <div class="shadow-none"  >
        <div class="modal-content">
          <div class=" mb-7">
            <div class="card h-100 shadow-none border-0">
              <!-- Body -->
              <div class="card-body pb-0" style="height: 400px; overflow-y: scroll">
<app-add-department></app-add-department>
              </div>
              <!-- End Body -->

              <!-- Footer -->

              <!-- End Footer -->
            </div>
          </div>
        </div>
      </div>
    </app-modal>
  </div>
  <div class="modal-overlay" *ngIf="students()">
    <app-modal [width]="'600px'" [height]="height3" (closeModal)="closeStudentModal()">
      <div class="shadow-none"  >
        <div class="modal-content">
          <div class=" mb-7">
            <div class="card h-100 shadow-none border-0">
              <!-- Body -->
              <div class="card-body pb-0" style="height: 400px; overflow-y: scroll">
<app-add-student></app-add-student>
              </div>
              <!-- End Body -->

              <!-- Footer -->

              <!-- End Footer -->
            </div>
          </div>
        </div>
      </div>
    </app-modal>
  </div>
  <div class="modal-overlay" *ngIf="post()">
    <app-modal [width]="width2" [height]="height3" (closeModal)="closePost()">
      <div class="shadow-none"  >
        <div class="modal-content">
          <div class=" mb-7">
            <div class="card h-100 shadow-none border-0">
              <!-- Body -->
              <div class="card-body pb-0" style="height: 400px; overflow-y: scroll">
<app-create-post></app-create-post>
              </div>
              <!-- End Body -->

              <!-- Footer -->

              <!-- End Footer -->
            </div>
          </div>
        </div>
      </div>
    </app-modal>
  </div>
  <div class="modal-overlay" *ngIf="lecturer()">
    <app-modal [width]="width2" [height]="height3" (closeModal)=" closeLecturer()">
      <div class="shadow-none"  >
        <div class="modal-content">
          <div class=" mb-7">
            <div class="card h-100 shadow-none border-0">
              <!-- Body -->
              <div class="card-body pb-0" style="height: 400px; overflow-y: scroll">
<app-add-lecturer></app-add-lecturer>
              </div>
              <!-- End Body -->

              <!-- Footer -->

              <!-- End Footer -->
            </div>
          </div>
        </div>
      </div>
    </app-modal>
  </div>

</div>
