<div class="container mt-4">
  <h2>Messages</h2>
  <table class="table table-bordered table-hover">
    <thead class="table-light">
    <tr>
      <th>Sender</th>
      <th>Status</th>
      <th>Content</th>
      <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let msg of messages" (click)="openMessageModal(msg)" style="cursor: pointer;">
      <td>{{ msg.sender }}</td>
      <td>{{ msg.status }}</td>
      <td>{{ msg.content | slice:0:30 }}{{ msg.content.length > 30 ? '...' : '' }}</td>
      <td>{{ msg.createdAt?.toDate() | date:'medium' }}</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Custom Modal -->
<div class="modal-overlay" *ngIf="modalOpen && selectedMessage">
  <app-modal [width]="'600px'" [height]="height3" (closeModal)="closeMessageModal()">
    <div class="shadow-none">
      <div class="modal-content">
        <div class="mb-7">
          <div class="card h-100 shadow-none border-0">
            <!-- Body -->
            <div class="card-body pb-0" style="height: 400px; overflow-y: auto">
              <h5>Message Details</h5>
              <p><strong>Sender:</strong> {{ selectedMessage.sender }}</p>
              <p><strong>Status:</strong> {{ selectedMessage.status }}</p>
              <p><strong>Content:</strong> {{ selectedMessage.content }}</p>
              <p><strong>Created At:</strong> {{ selectedMessage.createdAt?.toDate() | date:'full' }}</p>
              <p><strong>Browser:</strong> {{ selectedMessage.browser }}</p>
              <p><strong>Device Type:</strong> {{ selectedMessage.deviceType }}</p>
              <p><strong>OS:</strong> {{ selectedMessage.os }}</p>
              <p><strong>Platform:</strong> {{ selectedMessage.platform }}</p>
              <p><strong>Screen Resolution:</strong> {{ selectedMessage.screenResolution }}</p>
              <p><strong>Language:</strong> {{ selectedMessage.language }}</p>
              <p><strong>Online:</strong> {{ selectedMessage.online }}</p>
              <p><strong>User Agent:</strong> {{ selectedMessage.userAgent }}</p>
              <p><strong>Vendor:</strong> {{ selectedMessage.vendor }}</p>
              <p><strong>Recipient IDs:</strong> {{ selectedMessage.recipientIds.join(', ') }}</p>


            </div>
            <!-- End Body -->
          </div>
        </div>
      </div>
    </div>
  </app-modal>
</div>
