
<div class="card-body card-body-height" style="height: 570px">
  <ul class="list-comment">
    <div *ngIf="messages$ | async as messages; else loading">
      <div *ngFor="let msg of messages" class="card my-2 p-3 shadow-sm">
        <li class="list-comment-item">
          <!-- Media -->
          <div class="d-flex mb-2">
            <div class="flex-shrink-0">
              <!-- Avatar -->
              <div class="avatar avatar-sm avatar-circle mb-2">
                <img class="avatar-img" src="./assets/img/160x160/img10.jpg" alt="Image Description">
              </div>
              <!-- End Avatar -->
            </div>

            <div class="flex-grow-1 ms-2">
              <div class="row">
                <div class="col">
                  <h5 class="mb-0">{{ msg.name }}</h5>

                  <ul class="list-inline fs-6">
                    <!-- Priority stars -->
                    <li class="list-inline-item">
                      <div class="d-flex gap-1 me-2">
                        <ng-container *ngFor="let star of [].constructor(priorityToStars(msg.priority))">
                          <img src="./assets/svg/illustrations/star.svg" alt="Priority star" width="12">
                        </ng-container>
                      </div>
                    </li>

                    <li class="list-inline-item">
                      {{ msg.createdAt?.toDate() | date:'medium' }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End Media -->

          <h5 class="mb-1">Message</h5>
          <p>{{ msg.message }}</p>

          <!-- File link -->
          <div *ngIf="msg.fileUrl">
            <p class="mt-2">Attached File:</p>
            <a [href]="msg.fileUrl" target="_blank" class="btn btn-outline-primary btn-sm">
              View File
            </a>
          </div>

          <div class="d-flex flex-column flex-md-row gap-2 mt-3">
            <button class="btn btn-primary">Resend</button>
            <button class="btn btn-danger" (click)="deleteMessage(msg.id)">Delete</button>
          </div>
          <hr>
        </li>
      </div>
    </div>
  </ul>
</div>

<ng-template #loading>
  <p>Loading messages...</p>
</ng-template>
