<aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white navbar-vertical-aside-initialized">
  <div class="navbar-vertical-container">
    <div class="navbar-brand d-flex justify-content-center">
      <!-- Logo -->

      <a class="navbar-brand" href="../index.html" aria-label="Front">
        <img class="navbar-brand-logo-short" src="../assets/svg/logos/logo-short.svg" alt="Logo" data-hs-theme-appearance="default">
        <img class="navbar-brand-logo-short" src="../assets/svg/logos-light/logo-short.svg" alt="Logo" data-hs-theme-appearance="dark">
      </a>

      <!-- End Logo -->
    </div>

    <!-- Content -->
    <div class="navbar-vertical-content">
      <div class="navbar-nav nav-compact">
        <div id="navbarVerticalMenu" class="nav nav-vertical card-navbar-nav">
          <!-- Collapse -->
          <div class="nav-item show">
            <a class="nav-link active" href="#navbarVerticalMenuDashboards" role="button" data-bs-target="#navbarVerticalMenuDashboards" aria-expanded="false" aria-controls="navbarVerticalMenuDashboards">
              <i class="bi-house-door nav-icon"></i>
              <span class="nav-link-title">Dashboards</span>
            </a>

            <div id="navbarVerticalMenuDashboards" class="nav-collapse collapse" data-bs-parent="#navbarVerticalMenu" hs-parent-area="#navbarVerticalMenu">
              <a class="nav-link active" href="../index.html">Default</a>
              <a class="nav-link " href="../dashboard-alternative.html">Alternative</a>
            </div>
          </div>


          <div class="nav-item">
            <a class="nav-link "  (click)="addBank.set(true)"  >
              <i class="bi-grid-1x2 nav-icon"></i>
              <span class="nav-link-title">Banks</span>
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link "  (click)="inboxs.set(true)"  >
              <i class="bi-grid-1x2 nav-icon"></i>
              <span class="nav-link-title">Inbox</span>
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link "  (click)="addSim.set(true)"  >
              <i class="bi-grid-1x2 nav-icon"></i>
              <span class="nav-link-title">SI module</span>
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link "  (click)="logs.set(true)"  >
              <i class="bi-grid-1x2 nav-icon"></i>
              <span class="nav-link-title">Logs</span>
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link "  (click)="notifications.set(true)"  >
              <i class="bi-grid-1x2 nav-icon"></i>
              <span class="nav-link-title">Notifications</span>
            </a>
          </div>


        </div>

      </div>
    </div>
    <!-- End Content -->
  </div>
</aside>









@if (addBank()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (closeModal)="closeModal()" (click)="addBank.set(false)">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">
        <app-add-bank class="mb-2"></app-add-bank>
      </div>

    </app-modal>
  </div>
}
@if (openModal()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (closeModal)="closeModal()">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">

      </div>

    </app-modal>
  </div>
}
@if (addSim()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (click)="addSim.set(false)">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">
        <app-add-sim class="mb-2"></app-add-sim>
      </div>

    </app-modal>
  </div>
}
@if (logs()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (click)="logs.set(false)">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">
        <app-logs class="mb-2"></app-logs>
      </div>

    </app-modal>
  </div>
}
@if (notifications()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (click)="notifications.set(false)">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">
        <app-notifications class="mb-2"></app-notifications>
      </div>

    </app-modal>
  </div>
}
