<aside    class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white navbar-vertical-aside-initialized">
  <div class="navbar-vertical-container">
    <div class="navbar-brand d-flex justify-content-center">
      <!-- Logo -->



      <!-- End Logo -->
    </div>

    <!-- Content -->
    <div class="navbar-vertical-content" >
      <div class="navbar-nav nav-compact">
        <div id="navbarVerticalMenu" class="nav nav-vertical card-navbar-nav">

          <div class="nav-item">
            <a class="nav-link "  (click)="addBank.set(true)"  >
             <img src="loanSystemIcons/banks.svg" width= 50 height=50>
              <span class="nav-link-title">Banks</span>
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link "  (click)="inbox.set(true)"  >
             <img src="loanSystemIcons/inbox.svg" width= 50 height=50>
              <span class="nav-link-title">Inbox</span>
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link "  (click)="addSim.set(true)"  >
             <img src="loanSystemIcons/sim.svg" width= 50 height=50>
              <span class="nav-link-title">SI module</span>
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link "  (click)="compose.set(true)"  >
             <img src="loanSystemIcons/logs.svg" width= 50 height=50>
              <span class="nav-link-title">Compose</span>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link "  (click)="notifications.set(true)"  >
             <img src="loanSystemIcons/notifications.svg" width= 50 height=50>
              <span class="nav-link-title">Notifications</span>
            </a>
          </div>


        </div>

      </div>
    </div>
    <!-- End Content -->
  </div>
</aside>









@if (addBank()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (closeModal)="closeModal()" (click)="addBank.set(false)">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">
        <app-add-bank class="mb-2"></app-add-bank>
      </div>

    </app-modal>
  </div>
}
@if (openModal()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (closeModal)="closeModal()">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">

      </div>

    </app-modal>
  </div>
}
@if (addSim()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (click)="addSim.set(false)">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">
        <app-add-sim class="mb-2"></app-add-sim>
      </div>

    </app-modal>
  </div>
}

@if (notifications()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (click)="notifications.set(false)">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">
        <app-notifications class="mb-2"></app-notifications>
      </div>

    </app-modal>
  </div>
}
@if (inbox()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (click)="inbox.set(false)">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">
        <app-inbox class="mb-2"></app-inbox>
      </div>

    </app-modal>
  </div>
}
@if (compose()) {
  <div class="modal-overlay">
    <app-modal [width]="width" [height]="height" (click)="compose.set(false)">
      <div class="card shadow-none " style="max-height: 450px; overflow-y: scroll">
        <app-send-message class="mb-2"></app-send-message>
      </div>

    </app-modal>
  </div>
}
