<div class="text-center">
  <img src="chatIcons/poly/poly.png" style="width: 150px">
  <h6 class="mb-5">Amfanin Ilimi Aiki Dashi</h6>

  <div class="mb-1">
    <h1 class="display-4 mb-4">Upload Student</h1>
  </div>

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <div formArrayName="students">
      <div
        *ngFor="let studentGroup of students.controls; let i = index"
        [formGroupName]="i"
        class="d-flex align-items-center mb-2 flex-wrap gap-2"
      >
        <input
          type="text"
          class="form-control me-2"
          formControlName="regNo"
          placeholder="Enter registration number"

        />

        <input
          type="email"
          class="form-control me-2"
          formControlName="email"
          placeholder="Enter email"

        />

        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="removeStudent(i)"
          *ngIf="students.length > 1"
        >
          Remove
        </button>
      </div>
    </div>

    <div class="mt-3">
      <button type="button" class="btn btn-soft-primary me-2" (click)="addStudent()">
        + Add Student
      </button>
      <button class="btn btn-soft-primary">Submit</button>
    </div>
  </form>
</div>
