
  <div class="text-center">
    <img src="chatIcons/poly/poly.png" style="width: 150px">
    <h6 class="mb-5">Amfanin Ilimi Aiki Dashi</h6>
    <div class="mb-1">
      <h1 class="display-4 mb-4">Upload Student</h1>
        </div>


    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div formArrayName="emails">
        <div
          *ngFor="let emailGroup of emails.controls; let i = index"
          [formGroupName]="i"
          class="d-flex align-items-center mb-2"
        >
          <input
            type="email"
            class="form-control me-2"
            formControlName="email"
            placeholder="Enter email"
          />

          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="removeEmail(i)"
            *ngIf="emails.length > 1"
          >
            Remove
          </button>
        </div>
      </div>

      <button  type="button" class="btn btn-soft-primary me-2" (click)="addEmail()">+ Add Email</button>
      <button class="btn btn-soft-primary">Submit</button>
    </form>


  </div>





