.lecturer-card {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border: 1px solid #e0e0e0;
}

.lecturer-name {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #2c3e50;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.lecturer-card p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #34495e;
}

.no-data {
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  margin-top: 2rem;
}

.hover-ash:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}
.custom-hover {
  padding: 1rem;
  border-radius: 8px;

  transition: all 0.3s ease;
}

.custom-hover:hover {
  background-color: #000;
  transform: translateY(-5px);
}

.custom-hover:hover .card-title-hover {
  color: #fff;
}
/* Change the border color of the checkbox to black */
.custom-checkbox {
  width: 20px;         /* Set the checkbox width */
  height: 20px;        /* Set the checkbox height */
  border: 2px solid black;  /* Set the border color to black */
  border-radius: 4px;  /* Optional: rounded corners */
  outline: none;       /* Remove default focus outline */
  transition: border-color 0.3s ease;  /* Smooth transition */
}




.mt-row + .mt-row td {
  padding-top: 12px !important; /* Adds space between rows */
}
