.hover-ash:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}
.custom-hover {
  padding: 1rem;
  border-radius: 8px;

  transition: all 0.3s ease;
}

.custom-hover:hover {
  background-color: #377dff;
  transform: translateY(-5px);
}

.custom-hover:hover .card-title-hover {
  color: #fff;
}
/* Change the border color of the checkbox to black */
.custom-checkbox {
  width: 20px;         /* Set the checkbox width */
  height: 20px;        /* Set the checkbox height */
  border: 2px solid black;  /* Set the border color to black */
  border-radius: 4px;  /* Optional: rounded corners */
  outline: none;       /* Remove default focus outline */
  transition: border-color 0.3s ease;  /* Smooth transition */
}




