<form [formGroup]="lecturerForm" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label class="form-label">Full Name</label>
    <input type="text" class="form-control" formControlName="fullName" placeholder="Enter full name">
    <div class="text-danger mt-1" *ngIf="lecturerForm.get('fullName')?.invalid && (lecturerForm.get('fullName')?.touched || lecturerForm.get('fullName')?.dirty)">
      Full Name is required.
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
    <div class="text-danger mt-1" *ngIf="lecturerForm.get('email')?.invalid && (lecturerForm.get('email')?.touched || lecturerForm.get('email')?.dirty)">
      <span *ngIf="lecturerForm.get('email')?.errors?.['required']">Email is required.</span>
      <span *ngIf="lecturerForm.get('email')?.errors?.['email']">Invalid email format.</span>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Phone</label>
    <input type="text" class="form-control" formControlName="phone" placeholder="Enter phone number">
    <div class="text-danger mt-1" *ngIf="lecturerForm.get('phone')?.invalid && (lecturerForm.get('phone')?.touched || lecturerForm.get('phone')?.dirty)">
      Phone is required.
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Department</label>
    <input type="text" class="form-control" formControlName="department" placeholder="Enter department">
    <div class="text-danger mt-1" *ngIf="lecturerForm.get('department')?.invalid && (lecturerForm.get('department')?.touched || lecturerForm.get('department')?.dirty)">
      Department is required.
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Qualification</label>
    <input type="text" class="form-control" formControlName="qualification" placeholder="e.g. PhD, MSc, BSc">
    <div class="text-danger mt-1" *ngIf="lecturerForm.get('qualification')?.invalid && (lecturerForm.get('qualification')?.touched || lecturerForm.get('qualification')?.dirty)">
      Qualification is required.
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Specialization</label>
    <input type="text" class="form-control" formControlName="specialization" placeholder="e.g. Artificial Intelligence">
    <div class="text-danger mt-1" *ngIf="lecturerForm.get('specialization')?.invalid && (lecturerForm.get('specialization')?.touched || lecturerForm.get('specialization')?.dirty)">
      Specialization is required.
    </div>
  </div>



  <button type="submit" class="btn btn-primary w-100" [disabled]="lecturerForm.invalid">Upload Lecturer</button>
</form>
